[program:discordbotwebcretaire]
command                 = bash -c "exec php8.1 ___project__dir___/main.php"
process_name            = DiscordBotWebcretaire
numprocs                = 1
autostart               = true
autorestart             = true
user                    = root
stdout_logfile          = ___project__dir___/logs/info.log
stdout_logfile_maxbytes = 1MB
stderr_logfile          = ___project__dir___/logs/error.log
stderr_logfile_maxbytes = 1MB